#facebookBox, #playlistBox, #friendsPlaylistBox, #usersBox, #chatMessages {
    background-color: #222;
    padding: 6px;
    margin: 0;
}


#playlistBox:hover, #friendsPlaylistBox:hover, #usersBox:hover, #playlistList li:hover, .roomBox:hover, #friendsPlaylists li div:hover, .playlist:hover {
    background-color: #1E8CFA;
}

#facebookBox h2, #playlistBox h2, #friendsPlaylistBox h2, #usersBox h2, #chatMessages h2  {
    margin: 0;
}

#socialButtons {
    width: 100%;
    padding: 6px;
    background-color: #2d2d2d;
}

#playlistList, #roomsList, #friendsPlaylists, #friendsPlaylists li ul {
    list-style:none;
    padding: 0;
    margin: 0;
}

#fb-data, #serverButtons, #friendsPlaylists li div{
    font-weight: bold;
    background-color: #262626;
    padding: 6px;
}







#roomsList {
    list-style: none;
}

#roomsList li {
    font-weight: bold;
    background-color: #262626;
    padding: 0;
}

#roomsList li ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.roomBox {
    padding: 6px;
}

#roomsList li ul li{
    width: 100%;
    padding: 2px 6px;
    background-color: #2d2d2d;
    border-bottom: 1px solid #262626;
    /*margin: 0;*/
}






.playlist {
    background-color: #2d2d2d;
    padding: 4px;
    padding-left: 10px;
    border-bottom: 1px solid #262626;
}

.playlistRemoveButton {
    display: inline-block;
    font-weight: bold;
    width: 16px;
    height: 16px;
    color: #666;
    vertical-align: bottom;
    margin-right: 2px;
}

.playlistRemoveButton:hover {
    color: #f00;
    cursor: pointer;
}

#chatMessage {
    display: block;
    width: 100%;
    height: 100%;
    margin-top: auto;
    bottom: 0;
}

#chatContainer {
    float: left;
    width: 100%;
    height: 60%;
    overflow-x: hidden;
    overflow-y: auto;
}

#chatInput {
    display: block;
    height: 40%;
    bottom: 0;
}

#chatMessagesList {
    display: block;
    height: auto;
    list-style: none;
    margin: 0;
    padding: 0;
}

#chatMessagesList li {
    width: 100%;
    word-wrap: break-word;
    margin: 2px 6px 2px 6px; 
}

.chatUser {
    font-weight: bold;
    margin-right: 6px;
}

.chatUser:after {
    content: ": ";
}

.admin {
    font-weight: bold;
    background-color: #2270C9 !important;
}

.admin:after {
    content: "Admin";
    float: right;
    margin-right: 10px;
    font-size: 10px;
    font-weight: normal;
}
