#library {
    display: inline-block;
    overflow-y: auto;
    padding: 0;
}

#library ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

.artistBox {
    background-color: #222;
    /*color: #2270C9;*/
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    padding: 4px 12px;
}

.albumBox {
    background-color: #262626;
    font-weight: bold;
    font-size: 14px;
    padding: 5px 20px;
}

.trackBox {
    background-color: #2d2d2d;
    padding-left: 28px;
    padding-bottom: 4px;
    border-bottom: 1px solid #262626;
}

.trackBox:hover, .albumBox:hover, .artistBox:hover {
    background-color: #1E8CFA;
}

.artistBox:hover {
    /*color: #27ABFF;*/
}

.trackNumber {
    margin-right: 10px;
}

.trackTitle {
    font-weight: bold;
}
.trackGenre {
    float: right;
    margin-right: 16px;
}

.trackLength {
    float: right;
    margin-right: 16px;
}

#librarOptions {
    padding: 0;
}

#expandButton {
    height: 24px;
    width: 24px;
    margin: 7px;
}

.playing {
    background-color: #2270C9 !important;
}

/*  =============================
 *          LETTER FILTER
 *  =============================*/

#letterSelector {
    padding: 10px;
    margin: 0;
    display: block;
    list-style: none;
}

#letterSelector li {
    -webkit-transition: margin .5s;
    margin: 0;
    margin-bottom: 10px;
}

#letterSelector div {
    width: 20px;
    height: 20px;
    color: #252525;
    display: inline-block;
    text-align: center;
    font-weight: bold;
}

.enabled {
  color: #ddd !important;
}

div.enabled:hover {
    color: #27ABFF !important;
    cursor: pointer;
}

