#clearButton {
    vertical-align: bottom;
}

#activePlaylist {
    list-style:none;
    padding: 0;
    margin: 0;
}

#activePlaylistTitle  {
    background-color: #222;
    padding: 6px;
    margin: 0;
}

#activePlaylist li {
    width: 100%;
    padding: 2px 6px;
    background-color: #2d2d2d;
    border-bottom: 1px solid #262626;
}

#playlistButtons {
    background-color: #262626;
    padding: 6px;
}

#playlistButtons button {
    display:inline;
    height: 20px;
    margin-left: 2px;
}

#playlistButtons .ui-button-text {
    padding-top: 0;
    padding-bottom: 0;
}

#activePlaylist li button {
    width: 16px;
    height: 16px;
    vertical-align: bottom;
}

#activePlaylist li:hover {
    background-color: #1E8CFA;
}

#activePlaylist p {
    display:inline;
    font-weight: bold;
}

