@import url(http://fonts.googleapis.com/css?family=Ubuntu);

iframe {
    display:none;
}

body {
    font-family: "Ubuntu", sans-serif;
    font-size: 13px;
    color: #ddd;
    text-shadow: 1px 1px #111;
}

header {
    padding: 6px !important;
    background-color: #1a1a1a !important;
    color: #eee;
    display: block;
    border-bottom: 4px solid #151515;
    text-align: center;
}

header * {
  line-height: 34px;
}

#some {
    display: inline-block;
    float: left;
    margin: 0;
    margin-left: 5px;
    font-size: 26px;
    font-weight: bold;
    text-shadow: 1px 1px 2px #000;
}

#some img {
    margin-bottom: -2px;
    margin-right: 5px;
}

#player {
    display: none;
}

#controls {
    display: inline-block;
    width: 1000px; 
    margin: auto;
    padding: 0;
}

#controls .ui-button-icon-only {
    width: 30px;
    height: 30px;
}

#controls * {
    vertical-align: middle;
}

#playInfos { 
    margin: 0 30px;
    margin-top: 4px;
    display: inline-block;
    text-align: center;
    line-height: 24px;
}

#songInfos {
    display: block;
    line-height: 6px;
    font-weight: bold;
}

#currentTime, #totalTime {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    line-height: 6px;
}

#slider {
    display: inline-block;
    width: 400px;
    margin: 0 16px;
}

#volumeBox {
    display: inline-block;
    line-height: 24px;
    margin-top: 4px;
}

#volumeBox span {
    display: block;
    line-height: 6px;
}

#slider_volume {
    display: inline-block;
    line-height: 8px;
    width: 70px;
}

#playerAdditional {
    float: right;
}

#fileContainer {
    display: none;
}

#searchBox {
    float: right;
    line-height: normal;
    margin-top: 8px;
    margin-right: 5px;
}

.ui-layout-pane {
    background-color: #353535;
    padding: 10px;
}

#leftPane {
    float: left;
    display: inline-block;
    padding: 0 !important;
    width: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

#centerPane {
    padding: 0 !important;
}

#rightPane {
    display: inline-block;
    padding: 0 !important;
    float: right;
    width: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

#loginPane{
    padding: 0;
}

#playlistsPane {
    padding: 0;
}

#chatPane {
    padding: 0;
}

.ui-layout-resizer {
    background-color: #151515 !important;
}

.ui-layout-toggler {
    transitiom: background-color .5s;
    -webkit-transition: background-color .5s;
    -moz-transition: background-color .5s;
    background-color: #151515;
}

.ui-layout-toggler:hover {
    
}

.ui-layout-toggler:hover {
    background-color: #1E8CFA;
}

h2 {
    width: 100%;
    height: 20px;
    font-size: 14px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 6px;
    text-transform: uppercase;
}


/*  =============================
 *          DRAG OVERLAY
 *  =============================*/

#dragOverlay {
    transition: opacity .5s;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;

    width: 100%;
    height: 100%;
    position: fixed;
    display: block;
    z-index: 1000;
    background-color: #000;
    font-size: 50px;
    opacity: .6;
}

#dragOverlay div {
    transition: opacity .5s;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;

    position: absolute;
    width: 100%;
    text-align:center;
    top: 50%;
    opacity: 1;
}

.belowEverything {
    z-index: -100 !important;
}

.transparent {
    opacity: 0 !important;
}

#dragError {
    color: #f00;
}


/*  =============================
 *            SCROLLBAR
 *  =============================*/

::-webkit-scrollbar {
    width: 8px;
    height: 6px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    height: 0px;
    width: 0px;
}

::-webkit-scrollbar-track-piece {
    background-color: #3b3b3b;
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
    background-color: #666;
}

::-webkit-scrollbar-thumb:horizontal {
    background-color: #666;
}




/*  =============================
 *          UPLOAD DIALOG
 *  =============================*/

#uploadDialog {
    -webkit-transition: all .5s;
    background-color: #222;
    position: relative;
    z-index: 10;
    border-radius: 4px;
    width: 200px;
    padding: 10px;
    margin-top: 60px;
    margin-right: 220px;
    float: right;
    box-shadow: 0px 0px 10px #000;
}

.ui-dialog-title {
    display: none;
}

.ui-progressbar {
    -webkit-transition: opacity .5s;
    height: 5px;
    margin-top: 6px;
}

.ui-progressbar-value {
    -webkit-transition: width .5s;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#27ABFF), color-stop(100%,#2270C9));
}

.uploadError {
     background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E80000), color-stop(100%,#c10000)) !important; 
}

.uploadSuccess {
     background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00D126), color-stop(100%,#00AB14)) !important; 
}



/*  =============================
 *          EFFECTS PANE
 *  =============================*/
#effectsPane {
    padding: 0;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

#effectsPane h2 {
    margin: 10px 0;
}

#effectsPane table, #effectsPane tr {
    display: block;
    height: 240px !important;
}

#effectsPane td {
    display: inline-block;
    height: 240px !important;
    text-align: center;
    padding: 4px 1px;
    border-right: 4px solid #111;
    border-bottom: none;
}

#effectsPane td:last-child {
    border-right: none;
}

.toggle {
    margin: auto;
}

.toggle .ui-state-active {
    background: transparent;
    color: #ddd;
}

.ui-slider-vertical {
    margin: 4px auto;
    height: 140px;
    width: 6px;
}

.visualizer {
    margin: 4px auto;
}

.ui-slider-vertical .ui-slider-handle {
    left: -5px !important;
}

.effectSliderContainer {
    display: inline-block;
    width: 38px;
    text-align: center;
}

#effect_eq .effectSliderContainer {
    width: 26px;
}

#effect_comp .effectSliderContainer {
    width: 64px;
}

#effect_comp {
    white-space: normal;
}

#effect_comp .effectSliderContainer div:nth-child(3) canvas {
    margin-top: 4px;
}

#effect_comp .effectSliderContainer div:nth-child(3) input {
    padding-top: 4px !important;
}

#effect_visualizer .effectSliderContainer {
    height: 140px;
}

#effect_visualizer canvas {
    display: block;
}

.effectControl {
    text-align: center !important;
}

.effectControl span {
    width: 32px;
    margin: 0 4px;
}

.controlLabel {
    margin: 0;
    margin-left: -4px;
    padding: 0;
}

.tooltip, .ui-tooltip {
    -webkit-transition: display .5s;
    z-index: 33;
    position: absolute;
    background-color: #000;
    border-radius: 4px;
    padding: 6px;
    font-size: 12px;
    color: white;
    border: none;
}

.ui-tooltip {
    width: 250px;
}

.ui-dialog-content {
    text-shadow: none;
    font-size: 13px;
}

.ui-dialog-content .ui-icon {
    float: left;
}

